{% extends "base.html" %}

{% block title %}
    Babken's Home at Interwebz
{% endblock %}

{% load static %}

{% block content %}

    <div>

        <div class="uk-height-large uk-background-cover uk-light uk-flex" data-uk-parallax="bgy: -200"
             style="background-image: url('{% static 'resume/abstract-code.jpg' %}');">
            <div class="uk-width-auto uk-text-center uk-margin-auto uk-margin-auto-vertical">
                <h1 class="uk-heading-primary uk-text-uppercase uk-width-auto uk-text-center uk-margin-auto uk-margin-auto-vertical">
                    Babken Vardanyan</h1>
                <p class="uk-text-primary">A perfectionist with deadlines.<br/>
                    <small>(Yes, I just stole Django's motto.)</small>
                </p>
            </div>
        </div>

        <div class="uk-container uk-container-small uk-margin uk-margin-remove-bottom">
            <div class="uk-grid-match uk-flex-column" id="maincontent" data-uk-grid>
                <div>
                    <div class="uk-section-small" id="overview">
                        <div class="uk-container">
                            <h2>Overview</h2>
                            <p>
                                Hi there!
                            </p>
                            <p>
                                I am a Web Developer with 2+ years of professional programming experience. I have worked
                                with Java, Python and C.
                            </p>
                            <p>
                                I have a <a href="#work">proven record</a> of getting work done in a short amount of
                                time while having
                                well-tested and high quality code. I love and thrive on challenges.
                            </p>
                            <p>
                                My weapon of choice is Python and Django. I love Python's philosophy of keep
                                it simple, readable and flexible. But I am open to offers to work on other software
                                stacks as well.
                            </p>
                            <p>
                                I have <a href="#education">master's degree</a> in Computer Science.
                            </p>
                            <p>
                                I have worked on 2 large scale software projects
                                <a href="#portfolio-callmonkey">CallMonkey</a> and
                                <a href="#portfolio-bayazet">Bayazet</a> during my time at
                                <a href="#work-sfl">SFL LLC</a>.
                            </p>
                            <p>
                                Any questions? Interested in my skills? Don't hesitate to <a href="#contact">contact
                                me</a>!
                            </p>
                        </div>
                    </div>

                    <div class="uk-section-small" id="work">
                        <div class="uk-container">
                            <h2>My Work Experience</h2>
                            <h3 id="work-sfl">SFL LLC</h3>
                            <p>
                                I worked as a <i>Java Web Application Developer</i> at <a href="https://sflpro.com/">SFL
                                LLC</a> for 17 months.
                            </p>
                            <p>
                                I was involved in several large scale projects, being one of the main contributors.
                                My colleagues loved my dedication and passion for work.
                            </p>
                            <h4>Projects</h4>
                            <ul>
                                <li>
                                    <a href="#portfolio-bayazet">Bayazet:
                                        Border Management Information System</a>
                                </li>
                                <li>
                                    <a href="#portfolio-callmonkey">CallMonkey: Call Center Software</a>
                                </li>
                            </ul>
                            <h3 id="work-unibank">Unibank Armenia CJSC</h3>
                            <p>
                                I worked as an <i>Information Security Administrator</i> at
                                <a href="http://www.unibank.am/">Unibank Armenia CJSC</a> for 8 months.
                            </p>
                            <p>
                                My job involved administration and monitoring of several critical security
                                servers including the antivirus, logging servers, domain controllers and network
                                infrastructure components.
                                My responsibilities also included log analysis, defining software security
                                requirements and carrying out white-hat network penetration tests.
                                I was working closely with the IT team to ensure the continuous operation of systems.
                            </p>
                            <p>
                                During my employment Unibank was preparing for the
                                <a href="https://en.wikipedia.org/wiki/ISO/IEC_27001:2013">ISO/IEC 27001</a>
                                Information Security certification.
                                I was involved in defining and enforcing company's information security policies.
                                The bank has since successfully received this and several other certificates during my
                                employment at 2015.
                            </p>
                            <p>
                                My colleagues admired my problem solving skills and ability to find clever solutions to
                                problems.
                            </p>
                        </div>
                    </div>

                    <div class="uk-section-small" id="education">
                        <div class="uk-container">
                            <h2>My Education</h2>
                            <h3>National Academy of Sciences of the Republic of Armenia</h3>
                            I studied at <a href="http://www.sci.am/index.php?langid=2">NAS RA</a> from 2014 to 2016.
                            I received my master's degree in <i>Informatics and Computer Engineering</i>.
                            <h3>State Engineering University of Armenia</h3>
                            I studied at <a href="http://polytech.am/wpolytech/?lang=en">State Engineering University of
                            Armenia</a> from 2010 to 2014.
                            I received my bachelor's degree in <i>Computer Systems and Informatics</i>.
                            My speciality was <i>Information Security</i>.
                        </div>
                    </div>

                    <div class="uk-section-small" id="portfolio">
                        <div class="uk-container">
                            <h2>My Portfolio</h2>
                            <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match" data-uk-grid>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-hover" id="portfolio-callmonkey">
                                        <a href="http://callmonkey.com/">
                                            <div class="uk-card-media-top">
                                                <img src="{% static 'resume/callmonkey.jpg' %}" alt=""
                                                     class="uk-align-center uk-height-small">
                                            </div>
                                        </a>
                                        <div class="uk-card-body">
                                            <h3 class="uk-card-title"><a href="http://callmonkey.com/">CallMonkey</a>
                                            </h3>
                                            <ul class="uk-list">
                                                <li>Team size: 9</li>
                                                <li>Lines of code: 700,000+</li>
                                                <li>Microservices: 30+</li>
                                                <li>My role: Java Backend Developer</li>
                                            </ul>
                                            <p>
                                                CallMonkey is an online platform for managing call centers. It allows to
                                                manage the whole cycle of marketing and sales, from suspects to orders
                                                to
                                                recycling.
                                                CallMonkey utilizes some complex logic behind the scenes to deliver the
                                                best experience to phone operators and company administrators. It has a
                                                huge, dynamic and customizable database of address information.
                                            </p>
                                            <p>
                                                Our team has managed this complexity by using Big Data solutions like
                                                MongoDB and Elasticsearch. We have separated the complex logic using
                                                <a href="http://microservices.io/">microservices</a> architecture and
                                                containerization systems like Docker and
                                                Kubernetes.
                                            </p>
                                            <p>
                                                The project is generating great revenue since 2016.
                                            </p>
                                            <p>
                                                I was involved in this project while working at
                                                <a href="#work-sfl">SFL LLC</a>.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-hover" id="portfolio-bayazet">
                                        <a href="https://sflpro.com/?portfolio=2-5-million-border-checks-in-2015">
                                            <div class="uk-card-media-top">
                                                <img src="{% static 'resume/bayazet.jpg' %}" alt=""
                                                     class="uk-align-center uk-height-small">
                                            </div>
                                        </a>
                                        <div class="uk-card-body">
                                            <h3 class="uk-card-title">
                                                <a href="https://sflpro.com/?portfolio=2-5-million-border-checks-in-2015">Bayazet</a>
                                            </h3>
                                            <ul class="uk-list">
                                                <li>Team size: 7</li>
                                                <li>Lines of code: 500,000+</li>
                                                <li>My role: Java Backend and Frontend Developer</li>
                                            </ul>
                                            <p>
                                                Bayazet is a Border Management Information System. It is a distributed
                                                system for managing the processes at the borders as well as visa
                                                issuance management.
                                                Bayazet's objectives are simplifying the processes of administrative
                                                registration and increasing accountability.
                                            </p>
                                            <p>
                                                Bayazet is currently being used by the border control service of
                                                Republic of Armenia, my homeland. If you ever visit my country, your
                                                information will be processed and stored using the algorithms that I
                                                wrote.
                                            </p>
                                            <p>
                                                Bayazet has very strict requirements from the
                                                perspective of availability, performance and reliability.
                                                It has a huge and ever-growing database of users.
                                            </p>
                                            <p>
                                                Our team has managed this amount of complexity by implementing a large
                                                number of custom complex algorithmic solutions and employing
                                                technologies like Elasticsearch, Oracle Database and Oracle Business
                                                Intelligence.
                                            </p>
                                            <p>
                                                I was involved in this project while working at
                                                <a href="#work-sfl">SFL LLC</a>.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-hover">
                                        <a href="https://wiki.archlinux.org/index.php/Special:Contributions/Axper">
                                            <div class="uk-card-media-top">
                                                <img src="{% static 'resume/archlinux.svg' %}" alt=""
                                                     class="uk-align-center uk-height-small">
                                            </div>
                                        </a>
                                        <div class="uk-card-body">
                                            <h3 class="uk-card-title"><a
                                                    href="https://wiki.archlinux.org/index.php/Special:Contributions/Axper">Arch
                                                Linux Wiki</a>
                                            </h3>
                                            <p>
                                                I made several significant contributions to Arch Linux Wiki.
                                                Besides correcting and refining countless existing articles,
                                                I have single handedly written several all-encompassing articles from
                                                scratch about
                                                <a href="https://wiki.archlinux.org/index.php/Metasploit_Framework">Nmap</a>,
                                                <a href="https://wiki.archlinux.org/index.php/Metasploit_Framework">Metasploit
                                                    Framework</a>,
                                                <a href="https://wiki.archlinux.org/index.php/YouCompleteMe">YouCompleteMe</a>.
                                                I have made these contributions while looking for a
                                                <a href="#work">professional job</a>.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-hover">
                                        <a href="https://github.com/axper">
                                            <div class="uk-card-media-top">
                                                <img src="{% static 'resume/github.png' %}" alt=""
                                                     class="uk-align-center uk-height-small">
                                            </div>
                                        </a>
                                        <div class="uk-card-body">
                                            <h3 class="uk-card-title"><a
                                                    href="https://github.com/axper">GitHub</a>
                                            </h3>
                                            <p>I have created various tools, scripts, snippets, articles at GitHub both
                                                during my professional career and while studying at uni.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-hover">
                                        <a href="https://stackoverflow.com/users/2529583/babken-vardanyan">
                                            <div class="uk-card-media-top">
                                                <img src="{% static 'resume/stackoverflow.png' %}" alt=""
                                                     class="uk-align-center uk-height-small">
                                            </div>
                                        </a>
                                        <div class="uk-card-body">
                                            <h3 class="uk-card-title"><a
                                                    href="https://stackoverflow.com/users/2529583/babken-vardanyan">Stack
                                                Overflow</a>
                                            </h3>
                                            <p>
                                                I have made several contributions in form of answers and questions
                                                to Stack Overflow and other sites of Stack Exchange network, including
                                                AskUbuntu, SuperUser, Unix/Linux, Security, Tex/LaTeX.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <div class="uk-card uk-card-default uk-card-hover">
                                        <a href="https://www.upwork.com/freelancers/~0115087d475a597f2e">
                                            <div class="uk-card-media-top">
                                                <img src="{% static 'resume/upwork.svg' %}" alt=""
                                                     class="uk-align-center uk-height-small">
                                            </div>
                                        </a>
                                        <div class="uk-card-body">
                                            <h3 class="uk-card-title"><a
                                                    href="https://www.upwork.com/freelancers/~0115087d475a597f2e">Upwork</a>
                                            </h3>
                                            <p>
                                                See my projects at Upwork here!
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="uk-section-small" id="skills">
                        <div class="uk-container">
                            <h2>My Skills</h2>
                            <dl class="uk-description-list">
                                <dt>Languages</dt>
                                <dd>Java, Python, C, Unix Shell (Bash), SQL, Powershell, Regex, x86 Assembly</dd>
                                <dt>Frameworks & Libraries</dt>
                                <dd>Spring Framework, Jersey</dd>
                                <dt>UI Frameworks</dt>
                                <dd>Uikit</dd>
                                <dt>Web Servers</dt>
                                <dd>Apache, NginX, Tomcat, Jetty, Gunicorn</dd>
                                <dt>Testing Frameworks</dt>
                                <dd>Mockito, EasyMock, JUnit</dd>
                                <dt>Databases</dt>
                                <dd>Elasticsearch, MongoDB, MySQL, Oracle DB</dd>
                                <dt>Compilers</dt>
                                <dd>javac, GCC, Clang, MinGW, Nasm, Mono</dd>
                                <dt>Code Static & Dynamic Analysis</dt>
                                <dd>Sonar, SPlint/Lint, Pylint, Valgrind</dd>
                                <dt>Build Systems</dt>
                                <dd>Bamboo, Maven, Makefile, CMake</dd>
                                <dt>Version Control</dt>
                                <dd>Git, GitHub, Bitbucket</dd>
                                <dt>IDEs & Text Editors</dt>
                                <dd>Vim, IntelliJ IDEA, Visual Studio</dd>
                                <dt>Markup Languages</dt>
                                <dd>LATEX, Mediawiki, HTML, XML, GitHub Markdown, Groff</dd>
                                <dt>Linux Tools</dt>
                                <dd>Ansible, Supervisor, Zsh, SSH, APT, yum, systemd, initscripts, iproute2, Cron, Sed, Grep</dd>
                                <dt>Security & Networking Tools</dt>
                                <dd>Nmap, Metasploit, ss/netstat, tcpdump, Rsyslog, sqlmap</dd>
                                <dt>Containerization, Virtualization & Compatibility Layers</dt>
                                <dd>Kubernetes, Docker, VirtualBox, Wine, QEMU</dd>
                            </dl>
                        </div>
                    </div>

                    <div class="uk-section-small" id="languages">
                        <div class="uk-container">
                            <h2>My Languages</h2>
                            <ol>
                                <li>Հայերեն</li>
                                <li>English (TOEFL score: 109/120)</li>
                                <li>Русский</li>
                                <li>Deutsch</li>
                                <li>ქართული</li>
                            </ol>
                        </div>
                    </div>

                    <div class="uk-section-small" id="resume">
                        <div class="uk-container">
                            <h2>My Resume</h2>
                            <a href="https://github.com/axper/cv/raw/master/babken-vardanyan.pdf"
                               class="uk-button uk-button-primary uk-button-large" download>Download CV in PDF</a>
                        </div>
                    </div>

                    <div class="uk-section-small" id="contact">
                        <div class="uk-container">
                            <h2>Contact Me!</h2>
                            <ul>
                                <li>Mail: <code>babkenvardanyan94 at gmail</code></li>
                                <li>Skype: <code><a href="skype:babkenvardanyan1">babkenvardanyan1</a></code></li>
                                <li>LinkedIn: <code><a
                                        href="https://linkedin.com/in/babkenvardanyan">babkenvardanyan</a></code></li>
                                <li>GitHub: <code><a href="https://github.com/axper">axper</a></code></li>
                                <li>StackExchange: <code><a href="https://stackoverflow.com/users/2529583/babken-vardanyan">Babken
                                    Vardanyan</a></code></li>
                            </ul>
                            <h3>Freelancing Websites</h3>
                            <ul>
                                <li><a href="https://www.upwork.com/o/profiles/users/_~0115087d475a597f2e/">Upwork</a></li>
                                <li><a href="https://www.freelancer.com/u/babkenvardanyan">Freelancer.com</a></li>
                                <li><a href="https://www.peopleperhour.com/freelancer/babken/web-developer-django-python/1801076">PeoplePerHour.com</a></li>
                                <li><a href="https://www.guru.com/freelancers/babken-vardanyan">Guru.com</a></li>
                                <li><a href="https://stackoverflow.com/story/babkenvardanyan">StackOverflow Careers</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div>
                    <div class="uk-grid uk-flex-center uk-flex-middle uk-height-small uk-background-secondary">
                        <ul class="uk-iconnav">
                            <li><a href="https://linkedin.com/in/babkenvardanyan" data-uk-icon="icon: linkedin"></a>
                            </li>
                            <li><a href="https://github.com/axper" data-uk-icon="icon: github"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

{% endblock %}
