#!/usr/bin/expect

# TODO: remove this file and use ansible's expect module instead + django changepassword
set timeout -1;
spawn {{ venv_dir }}/bin/python manage.py changepassword {{ admin_username }};
expect {
    "Password:" { exp_send "{{ admin_password }}\r" ; exp_continue }
    "Password (again):" { exp_send "{{ admin_password }}\r" ; exp_continue }
    eof
}