{% extends "blog/base_html.html" %}

{% load static %}

{% block html_body %}

    {% spaceless %}

        <div class="content">

            <div class="uk-background-cover uk-flex background-grey min-height-header-footer"
                 {% if page.banner %}style="background-image: url({{ page.banner.url }});"{% endif %}>
                <div class="uk-width-auto uk-text-center uk-margin-auto uk-margin-auto-vertical">
                    <h1 class="uk-heading-primary uk-text-uppercase uk-width-auto uk-text-center uk-margin-auto uk-margin-auto-vertical white-text-shadow">
                        {% block title %}{% endblock title %}
                    </h1>
                </div>
            </div>

            <div class="uk-container uk-container-small uk-margin-large">
                <div class="uk-grid-match uk-flex-column" data-uk-grid>
                    <div>
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </div>

        </div>

        {% include "blog/components/footer.html" %}

    {% endspaceless %}

{% endblock html_body %}
