{% extends "base_formatted.html" %}

{% load wagtailcore_tags %}

{% spaceless %}

    {% block title %}{{ page.title }}{% endblock %}
    {% block heading %}{{ page.heading }}{% endblock %}
    {% block sub_heading %}{{ page.sub_heading }}{% endblock %}
    {% block sub_sub_heading %}{{ page.sub_sub_heading }}{% endblock %}
    {% block content %}

        <div class="uk-section">
            <ul>
                {% for post in blog_pages %}
                    {% with post=post.specific %}
                        <li><a href="{% pageurl post %}">{{ post.title }}</a></li>
                    {% endwith %}
                {% endfor %}
            </ul>
        </div>

    {% endblock %}

{% endspaceless %}
