{% extends "base_formatted.html" %}

{% load wagtailcore_tags %}

{% spaceless %}

    {% block title %}{{ page.title }}{% endblock %}
    {% block heading %}{{ page.heading }}{% endblock %}
    {% block sub_heading %}{{ page.sub_heading }}{% endblock %}
    {% block sub_sub_heading %}{{ page.sub_sub_heading }}{% endblock %}
    {% block content %}
        <div class="uk-child-width-1-2@s uk-grid-match uk-margin-bottom" data-uk-grid>
            {% for block in page.content %}
                {% include_block block %}
            {% endfor %}
        </div>
    {% endblock content %}

{% endspaceless %}