{% extends "base.html" %}

{% load static %}

{% block html_body %}

    {% spaceless %}

        <div class="content">

            <div class="uk-height-medium uk-background-cover uk-flex uk-background-muted">
                <div class="uk-width-auto uk-text-center uk-margin-auto uk-margin-auto-vertical">
                    <h1 class="uk-heading-primary uk-text-uppercase uk-width-auto uk-text-center uk-margin-auto uk-margin-auto-vertical">
                        {% block title %}{% endblock title %}</h1>
                </div>
            </div>

            <div class="uk-container uk-container-small uk-margin-large">
                <div class="uk-grid-match uk-flex-column" id="maincontent" data-uk-grid>
                    <div>
                        {% block content %}{% endblock content %}
                    </div>
                </div>
            </div>

        </div>

        {% include "footer.html" %}

    {% endspaceless %}

{% endblock html_body %}
