{% extends "base.html" %}

{% load static %}

{% block html_body %}

    {% spaceless %}

        <div class="uk-height-large uk-background-cover uk-light uk-flex" data-uk-parallax="bgy: -200"
             style="background-image: url('{% static 'blog/abstract-code.jpg' %}');">
            <div class="uk-width-auto uk-text-center uk-margin-auto uk-margin-auto-vertical">
                <h1 class="uk-heading-primary uk-text-uppercase uk-width-auto uk-text-center uk-margin-auto uk-margin-auto-vertical">
                    {% block heading %}{% endblock heading %}</h1>
                <p>{% block sub_heading %}{% endblock sub_heading %}</p>
                <p>
                    <small>{% block sub_sub_heading %}{% endblock sub_sub_heading %}</small>
                </p>
            </div>
        </div>

        <div class="uk-container uk-container-small uk-margin uk-margin-remove-bottom">
            <div class="uk-grid-match uk-flex-column" id="maincontent" data-uk-grid>
                <div>
                    {% block content %}{% endblock content %}
                </div>
            </div>
        </div>

        {% include "footer.html" %}

    {% endspaceless %}

{% endblock html_body %}
